.bungee-shade-regular {
    font-family: "Bungee Shade", serif;
    font-weight: 400;
    font-style: normal;
}

.poor-story-regular {
    font-family: "Poor Story", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    color: rgb(255, 106, 131);
    position: relative;
    background: black;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('star.background.jpg');
    background-size: 100%;
    background-position: center top;
    opacity: 0.4;
    z-index: -1;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding-left: 50px;
    text-align: center;
    background: linear-gradient(to bottom, magenta, pink);
    padding: 60px;
    background-size: 100% 100%;
    background-position: top center;
    margin: 0;
    border-bottom: 5px solid rgb(43, 0, 255);
    font-family: "Bungee Shade", serif;
}

@font-face {
    font-family: 'Vipnagorgialla';
    src: url('Vipnagorgialla Rg.otf') format('opentype');
}

.headerTitle {
    font-size: 3rem;
    margin-left: 4rem;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: normal;
}

.paragraph1 {
    font-size: 3rem;
    margin-left: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10rem;
    padding-top: 2rem;
    font-family: "Poor Story", serif;
    max-width: 40rem;

}

.paragraph2 {
    font-size: 25px;
    padding-top: 20rem;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 2px;
    font-family: "Poor Story", serif;
    max-width: 90rem;

}

.paragraph3 {
    font-size: 25px;
    text-align: center;
    padding-top: 50rem;
    padding-bottom: 20rem;
    margin-left: 3rem;
    max-width: 100px;
    color: salmon; 
    font-family: "Poor Story", serif;
    margin: 0 auto;
}

.paragraph4 {
    font-size: 25px;
    text-align: center;
    padding-top: 50rem;
    max-width: 500px;
    color: magenta;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}

.paragraph5 {
    font-size: 25px;
    text-align: center;
    padding-top: 50rem;
    max-width: 500px;
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home-button {
    font-size: 20px;
    padding: 10px 20px;
    margin: auto 10px auto 10px;
    background-color: fuchsia;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color  ease;
    box-shadow: 0 0 10px rgb(255, 178, 178), 0 0 20px rgb(255, 0, 153), 0 0 30px rgb(255, 0, 212);
}

.home-button:hover {
    background-color: rgb(31, 0, 31);
    box-shadow: 0 0 20px fuchsia, 0 0 30px rgb(85, 0, 255), 0 0 40px rgb(255, 29, 244);
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.container {
    text-align: center;
    border-radius: 10px;
  }
  
  .globe-img {
    width: 500px; 
    height: auto;
  }

.fade-in-out {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.fade-in-out.visible {
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}