.bungee-shade-regular {
    font-family: "Bungee Shade", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: rgb(0, 255, 0);
    position: relative;
    background: black;
    height: 100vh;
    margin: 0;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    padding-left: 50px;
    text-align: center;
    background: linear-gradient(to bottom, #2f006c, #b283b2);
    padding: 60px;
    background-size: 100% 100%;
    background-position: top center;
    margin: 0;
    border-bottom: 5px solid rgb(248, 189, 229);
    font-family: "Bungee Shade", serif;
    animation: gradientChange 5s infinite ease-in-out;
}

@keyframes gradientChange {
    0% {
        background: linear-gradient(to left, magenta, blue);
    }
    33% {
        background: linear-gradient(to bottom, blue, rgb(255, 0, 89));
    }
    66% {
        background: linear-gradient(to right, rgb(255, 221, 141), rgb(0, 247, 255));
    }
    100% {
        background: linear-gradient(to left, magenta, blue);
    }
}

@font-face {
    font-family: 'Vipnagorgialla';
    src: url('Vipnagorgialla Rg.otf') format('opentype');
}

.headerTitle {
    font-size: 3rem;
    margin-left: 4rem;
    font-family: "Pixelify Sans", sans-serif;
}

.paragraph1 {
    font-size: 30px;
    margin-left: 200px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.paragraph2 {
    font-size: 20px;
    margin-left: 200px;
    max-width: 900px;
    margin: 40px;
}

.paragraph3 {
    font-size: 35px;
    text-align: right;
    max-width: 500px;
    margin-left: 700px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('heart background.webp');
    background-size: auto 100%; /* Ensure the image scales only vertically */
    background-position: center top; /* Align the image to the top of the viewport */
    background-repeat: repeat-y;
    opacity: 0.5;
    z-index: -1;
}
